body {
    background-image: url(../images/pw_pattern.png);
    font-family: Cambria;
}

header {
    background: rgba(128, 128, 128, 0.05);
    border-radius: 0.50em;
    font-size: 1.40em;
}

    header img {
        vertical-align: middle;
    }

    header div {
        margin: auto;
        width: 300px;
    }

footer {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
}

    footer ul.icons {
        background: rgba(128, 128, 128, 0.05);
        border-radius: 0.50em;
        text-align: center;
    }

ul.icons li {
    display: inline-block;
}

content {
    text-align: center;
    display: table;
    width: 100%;
    height: 400px;
    overflow: auto;
    margin-top: -200px;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
}

.question {
    width: 100%;
    position: absolute;
    top: 50%;
    height: 100px;
    margin-top: -50px;
}

.button {
    background-color: white;
    border: 2px solid #008CBA;
    border-radius: 12px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

    .button:hover {
        background-color: #008CBA;
        color: white;
    }

input[type="text"] {
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 32px;
    width: 300px;
}

.answer {
    background-color: white;
    border: 2px solid #008CBA;
    border-radius: 12px;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

    .answer:hover {
        background-color: #008CBA;
        color: white;
    }
