* {
    margin: 0;
    padding: 0;
}

html, body {
    background-image: url(../images/pw_pattern.png);
    font-family: Cambria;
    height: 100%;
}

.header {
    background: rgba(128, 128, 128, 0.05);
    font-size: 1.40em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

    .header img {
        vertical-align: middle;
    }

    .header div {
        margin: auto;
        width: 300px;
    }

.container {
    height: 100%;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.body {
    height: 100%;
}

@media (min-width: 1200px) {

    .body {
        margin: 0 auto;
        width: 1200px;
    }

    .banner-left {
        float: left;
        width: 15%;
        height: 90%;
        background-color: dimgray;
        max-width: 100px;
    }

    .banner-right {
        float: right;
        width: 15%;
        height: 90%;
        background-color: dimgray;
        max-width: 100px;
    }

    div.wrap {
        display: table;
        text-align: center;
        height: 90%;
        float: left;
        width: 100%;
        max-width: 1000px;
    }
}

@media (max-width: 767px) {

    .banner-left {
        display: none;
    }

    .banner-right {
        display: none;
    }

    div.wrap {
        display: table;
        width: 100%;
        text-align: center;
        height: 90%;
    }
}

@media (max-width: 1200px) and (min-width: 768px) {

    .banner-left {
        width: 100%;
        height: 15%;
        background-color: dimgray;
    }

    .banner-right {
        width: 100%;
        height: 15%;
        background-color: dimgray;
    }

    div.wrap {
        display: table;
        width: 100%;
        text-align: center;
        height: 60%;
    }
}

div.wrap div.content {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 0px 10px;
}

.footer {
    width: 100%;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

    .footer ul.icons {
        background: rgba(128, 128, 128, 0.05);
        border-radius: 0.50em;
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }

.icons li {
    display: inline-block;
}

.facebook {
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    display: block;
    height: 56px;
    width: 56px;
}

.vk {
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    background-position: -55px 0px;
    display: block;
    height: 56px;
    width: 56px;
}

.twitter {
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    background-position: -107px 0px;
    display: block;
    height: 56px;
    width: 56px;
}

.rss {
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    background-position: -158px 0px;
    display: block;
    height: 56px;
    width: 56px;
}



.question {
    width: 100%;
}

.button {
    background-color: white;
    border: 2px solid #008CBA;
    border-radius: 12px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

    .button:hover {
        background-color: #008CBA;
        color: white;
    }

input[type="text"] {
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 32px;
    width: 300px;
}

.answer {
    background-color: white;
    border: 2px solid #008CBA;
    border-radius: 12px;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

    .answer:hover {
        background-color: #008CBA;
        color: white;
    }

.video {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
